.note {
	background-color: yellow;
	border: solid 1px #ccc;
	padding: 25px;
	width: 250px;
	height: 250px;
	overflow: auto;
	float: left;
	margin-right: 20px;
}

.pin {
	float: right;
	background-color: red;
	border-radius: 50%;
	width: 30px;
	height: 30px; 
}

.strike {
	text-decoration: line-through;
}